MBARETE_SECRET_KEY=cambia-esto-por-un-secreto-largo
DATABASE_URL=
MBARETE_ADMIN_EMAIL=admin@mbarete.local
MBARETE_ADMIN_PASSWORD=cambiar-esta-clave
MBARETE_PASSWORD_RESET_KEY=cambiar-clave-recuperacion
